//LARGE
@media screen and (min-width: 64em) {
    .menu-btn {
        visibility: hidden;
        position: fixed;
    }
}

//MEDIUM
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .menu-btn {
        visibility: hidden;
        position: fixed;
    }
    .off-canvas {
        visibility: hidden;
    }
    .menu {
        ul {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    header {
        padding: 200px 40px;
    }
    .intro {
        padding: 150px 40px;
        h1 {
            width: 80%;
            margin-left: 20%;
            font-size: 2.75em;
            color: #2a2a2a;
        }
    }
    .misivisi {
        #misi {
            width: 100%;
        }
        #visi {
            width: 100%;
        }
    }
    .wedo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        #wedo_BG {
            width: 100%;
            display: block;
            height: 400px;
        }
        #wedo_info {
            width: 100%;
            padding-top: 50px;
            #wedo_vector {
                margin-right: 5%;
            }
        }
    }
    footer {
        flex-wrap: wrap;
        margin-top: -60px;
        .sitemap {
            width: 100%;
            text-align: center;
            ul {
                li {
                    display: inline-block;
                    width: 33%;
                    margin-left: -20px;
                    a {
                        &:hover {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .form {
            margin-top: 20px;
            padding: 0 5%;
            display: flex;
            flex-wrap: wrap;
            #sec5 {
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}

//SMALL
@media screen and (max-width: 39.9375em) {
    .menu-btn {
        position: fixed;
        z-index: 5;
        font-size: 2rem;
        color: #ffffff;
        margin-left: 10px;
        cursor: pointer;
    }
    .menu {
        visibility: hidden;
        display: none;
    }
    header {
        padding: 180px 20px;
        color: white;
        h2 {
            width: 100%;
            font-size: 1.3rem;
        }
    }
    .intro {
        padding: 100px 20px;
        text-align: center;
        h1 {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-size: 2rem;
            color: #2a2a2a;
        }
    }
    .misivisi {
        h5 {
            font-weight: 400;
        }
        #misi {
            width: 100%;
            background-color: #4e49cb;
        }
        #visi {
            width: 100%;
            background-color: #cb7b49;
        }
        #misi_vector {
            margin-top: 20px;
            width: 25%;
        }
        #visi_vector {
            margin-top: 20px;
            width: 25%;
        }
    }
    .wedo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        #wedo_BG {
            visibility: hidden;
        }
        #wedo_info {
            width: 100%;
            padding-top: 100px;
            padding-left: 5%;
            padding-right: 5%;
            text-align: right;
            background-color: #40a7de;
            color: white;
            h5 {
                font-weight: 400;
            }
            #wedo_vector {
                margin-right: 25%;
            }
        }
    }
    footer {
        margin-top: 0;
        width: 100%;
        flex-wrap: wrap;
        .sitemap {
            width: 100%;
            margin-bottom: 50px;
            ul {
                margin-top: -30px;
                li {
                    display: inline-block;
                    width: 100px;
                    a {
                        &:hover {
                            color: #cb4040;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .form {
            padding: 0 40px;
            display: flex;
            flex-wrap: wrap;
            input {
                margin-top: 10px;
                width: 100%;
            }
            input[placeholder] {
                padding-left: 10px;
                font-size: 1.2rem;
                font-style: italic;
            }
            #sec1,
            #sec2 {
                width: 100%;
            }
            #sec2 {
                margin-top: 25px;
            }
            #sec5 {
                margin-top: 50px;
                button {
                    padding: 15px 40px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    border: 0;
                    background-color: #f25e10;
                    font-size: 1.5rem;
                    color: white;
                    &:active {
                        background-color: lighten(#f25e10, 5%);
                    }
                }
            }
        }
    }
}
