@import "bower_components/pushy/scss/pushy";
@import "color";
.menu {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        li {
            width: 10%;
            margin-left: auto;
            margin-right: auto;
            a {
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
                font-weight: bold;
                transition: all linear 0.2s;
            }
        }
    }
}

.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
    width: 50%;
    background: white;
}

.off-canvas {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.menu_contact {
    margin: 0;
    a {
        color: #b3b3b1;
    }
}
