@import "font";
@import "menu";
@import "color";
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all ease 0.5s;
}

.container {
    width: 100%;
}

header {
    background-image: url(../img/greenlabs_BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 300px 40px;
    color: white;
    text-align: center;
    h2 {
        font-weight: 400;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.intro {
    padding: 200px 40px;
    text-align: right;
    h1 {
        width: 80%;
        margin-left: 20%;
        font-size: 3.75em;
        color: #2a2a2a;
    }
}

.misivisi {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    color: white;
    h5 {
        font-weight: 400;
    }
    #misi {
        width: 40%;
        background-color: $pink;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }
    #visi {
        width: 40%;
        background-color: $orange;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }
    #misi_vector {
        margin-top: 20px;
        width: 25%;
    }
    #visi_vector {
        margin-top: 20px;
        width: 25%;
    }
}

.wedo {
    width: 100%;
    display: flex;
    #wedo_BG {
        width: 60%;
        background-image: url(../img/wedo_BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #wedo_info {
        width: 30%;
        padding-top: 100px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: right;
        background-color: $purple;
        color: white;
        h5 {
            font-weight: 400;
        }
        #wedo_vector {
            margin-right: 25%;
        }
    }
}

.mitra {
    width: 100%;
    height: 100%;
    display: flex;
    color: #2a2a2a;
    #mitra_info {
        width: 100%;
        padding: 50px 5% 120px 5%;
        background-color: $green;
        color: white;
        text-align: center;
        h5 {
            font-weight: 400;
            margin-top: -30px;
            margin-bottom: 60px;
        }
    }
    .mitralist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .list {
            img {
                border-radius: 6rem;
            }
        }
    }
}

footer {
    display: flex;
    width: 100%;
    padding: 100px 0 100px 0;
    color: #2a2a2a;
    .sitemap {
        width: 30%;
        padding: 0 5%;
        ul {
            margin-top: -20px;
            li {
                list-style: none;
                padding: 5px 0;
                margin-left: -40px;
                a {
                    text-decoration: none;
                    color: #2a2a2a;
                    font-size: 1.2rem;
                    transition: all linear 0.2s;
                    &:hover {
                        color: #cb4040;
                        margin-left: 10px;
                    }
                }
            }
        }
        h5 {
            font-weight: 400;
            color: #2a2a2a;
            a {
                text-decoration: none;
                color: #2a2a2a;
                transition: all linear 0.2s;
                &:hover {
                    color: #cb4040;
                }
            }
        }
    }
    .form {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        label {
            font-size: 2rem;
        }
        input {
            margin-top: 10px;
            width: 90%;
            height: 60px;
            border: none;
            border-bottom: 2px red solid;
        }
        input[placeholder] {
            padding-left: 10px;
            font-size: 1.2rem;
            font-style: italic;
        }
        #sec1,
        #sec2 {
            width: 50%;
        }
        #sec3 {
            margin-top: 25px;
            width: 100%;
            input {
                width: 95%;
            }
        }
        #sec4 {
            margin-top: 25px;
            width: 100%;
            textarea {
                margin-top: 10px;
                width: 95%;
                border: none;
                border-bottom: 2px red solid;
            }
            textarea[placeholder] {
                padding-left: 10px;
                font-size: 1.2rem;
                font-style: italic;
                font-family: sans-serif;
            }
        }
        #sec5 {
            margin-top: 15px;
            width: 100%;
            button {
                padding: 15px 40px;
                border: 0;
                background-color: #f25e10;
                font-size: 1.2rem;
                color: white;
                &:active {
                    background-color: lighten(#f25e10, 5%);
                }
            }
        }
    }
}

.footline {
    padding: 10px;
    color: #2a2a2a;
    background-color: #ebebeb;
}

@import "breakpoint";
